*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1366px;
    margin: 0 auto ;

}

body > header{
    background-color: indianred;
    padding: 16px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a{
    color: white;
}


.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article  img {
    height: 280px;
}

.article article {
    width: 30%;
}

.article article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a{
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.article article a:hover{
    text-decoration: underline;
}

.article article p{
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

body{
    background-color: rgb(8, 8, 8);
}

h1{
    color:white
}

#sports h2{
    color:indianred
}

#economy h2{
    color:indianred
}

#cinema h2{
    color:indianred
}

#games h2{
    color:indianred
}

h3{ 
    color:indianred
}

p{
    color:darkgray
}

.creationdate{
    color: #ccc
}

a{
    color:red
}

section {
    padding: 16px 0;
}


